
body {
    background-color: #0d1f52;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}


section {
    max-width: 900px;
    margin: 40px auto;
    background: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    color: #000;
}


section h2 {
    text-align: center;
    margin-bottom: 20px;
}


section img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 300px;
    border-radius: 8px;
}


section a {
    display: inline-block;
    background: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

section a:hover {
    background: #555;
}
