
:root {
    --blue-main: #1a73e8;   /* Bleu principal */
    --blue-hover: #155fc0;  /* Bleu foncé au hover */
    --blue-light: #e7f0fd;  /* Bleu très clair */
    --white: #ffffff;
    --text-dark: #1a1a1a;
    --border-color: #cdd9ee;
}

.login-body {
    font-family: Arial, sans-serif;
    background: var(--blue-light);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-container {
    background: var(--white);
    width: 380px;
    padding: 30px 35px;
    border-radius: 14px;
    box-shadow: 0 0 18px rgba(0,0,0,0.10);
    border: 1px solid var(--border-color);
}

.login-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: var(--blue-main);
    font-weight: bold;
}


.login-form .label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: var(--text-dark);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s;
    background: var(--white);
}

.input-field:focus {
    outline: none;
    border-color: var(--blue-main);
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.3);
}


.btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: var(--blue-main);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.btn-login:hover {
    background-color: var(--blue-hover);
}

