

header{
    background-color: #f8f8f8;
    border-radius: 30px;
}

.nav-item{
    font-size:40px;
}

footer{
    background-color: #f8f8f8;
    border-radius: 30px;
}



.profile-card {
    background: white;
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.avatar {
    width: 120px;
    height: 120px;
    background: #4b8cff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.email {
    color: #7a7a7a;
    font-size: 1.1rem;
}

.order-history-title {
    background: #e0e0e0;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.order-history-box {
    background: white;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn {
    background: #d8323c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
}

